.add-todo-form {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.add-todo-button {
  outline: none;
  border: none;
  border-radius: 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.6rem 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.add-todo-button:hover {
  background: #d86c44;
}

@media screen and (max-width: 380px) {
  .add-todo-input {
    width: 180px;
  }
  .add-todo-button {
    padding: 0.6rem 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  .add-todo-input {
    width: 160px;
    margin-right: 0.7rem;
  }
}
