.sidebar-container {
  width: 200px;
  height: 100vh;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
}

.mobile-sidebar {
  background: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 1rem;
}

@media screen and (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}
