* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff623f;
  --secondary-color: white;
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --border-radius: 10px;
  --icon-size: 18px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  color: var(--primary-color);
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

input:not(.edit-todo-input) {
  outline: none;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

input:not(.edit-todo-input):focus {
  border: 1px solid #444;
}

article {
  max-height: 100vh;
  overflow-y: scroll;
}

.data-list {
  margin: 2rem;
}

.data-item {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  margin: 2rem 0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  article {
    max-height: initial;
  }
  .center-container {
    height: calc(100vh - 3.6rem);
  }
}
